.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.start-btn {
  width: 348px;
  height: 40px;
  background-color: #222;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #222;
  transition: .3s ease;
  border-radius: 5px;
}

.start-btn:hover {
  color: #222;
  background-color: white;
}

